body {
  background-color: #f1f1f1;
}

p {
  margin: 0px;
}

.application {
  max-width: 1200px;
  margin: 0 auto;
}

.addNewTask-form {
  width: 400px;
  display: inline-block;
}

.addNewTask-form textarea {
  width: 320px;
  height: 80px;
}

.none {
  display: none;
}

.task-block {
  background: white;
  border-radius: 2px;
  width: 600px;
  display: inline-block;
  padding: 12px 22px;
  overflow: hidden;
}

.task-status-block {
  float: left;
}

.removeTask {
  float: right;
  margin-top: -25px;
  font-size: 20px;
  color: red;
  font-family: sans-serif;
  cursor: pointer;
}

#progressBlock .progress-part {
  display: inline-block;
  height: 3px;
  background: #d6d6d6;
  width: 0%;
}

#progressBlock .successProgress {
  background-color: #7ee04b;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
