@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-ms-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: #f1f1f1;
}

p, h3 {
  margin: 0px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
}

.footer-form-block {
  overflow: hidden;
}

.err {
  color: red;
  margin-bottom: 10px;
}

.bad-valid {
  border: 1px solid red !important;
}

.application {
  max-width: 1200px;
  margin: 0 auto;
}

.dark-color {
  color: #000000;
}

.right-create-task-form {
  display: inline-block;
  width: 39.5%;
  margin-bottom: 20px;
  margin-left: 15px;
}

.right-create-task-form select {
  border-color: white;
  position: relative;
  top: -1px;
  padding-left: 10px;
}

.right-create-task-form select:focus {
  outline: none;
}

.left-create-task-form {
  float: left;
  width: 57%;
  margin-right: 8px;
}

.left-create-task-form input#task-time {
  background: white;
  border-radius: 2px;
  padding-left: 10px;
  height: 43px;
  border: 1px solid #ffffff;
  box-shadow: none;
}

.addNewTask-form {
  width: 700px;
  display: inline-block;
}

.addNewTask-form textarea {
  width: 100%;
  font-size: 16px;
  border-radius: 2px;
  height: 80px;
  border: 1px solid #ffffff;
  padding-left: 10px;
  resize: none;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 5px;
}

.addNewTask-form textarea:focus {
  outline: none;
}

.empty-buffer {
  height: 40px;
}

.task-block {
  background: white;
  border-radius: 2px;
  width: 698px;
  padding: 12px 10px;
  overflow: hidden;
  display: block;
  margin-bottom: 12px;
  padding-left: 5px;
}

.task-block .rigth-task-info {
  float: left;
  width: 87%;
  overflow: hidden;
}

.task-block .rigth-task-info-body {
  float: left;
  width: 90%;
}

.task-block .rigth-task-info-body .tasl-time {
  color: #afafaf;
  font-weight: 300;
}

.task-block .rigth-task-info-tail {
  padding-left: 10px;
  float: left;
  width: 10%;
}

.task-block .task-status-block {
  float: left;
  width: 12%;
  padding-top: 9px;
}

.removeTask {
  font-size: 20px;
  color: red;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  top: -9px;
  left: -2px;
  float: right;
}

#progressBlock {
  background: #ecebeb;
  height: 5px;
}

#progressBlock .progress-part {
  display: inline-block;
  height: 5px;
  background: #d6d6d6;
  width: 0%;
}

#progressBlock .successProgress {
  background-color: #25a59a;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
  top: -11px;
}

.btn-main-style {
  border: 0px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 12px 42px;
  color: white;
  background: linear-gradient(-90deg, #4a1b9e, #ce3ee6);
  background-size: 200% 200%;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  -o-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
  -webkit-box-shadow: 0px 4px 14px 2px #c36bd2;
  -moz-box-shadow: 0px 4px 14px 2px #c36bd2;
  -o-box-shadow: 0px 4px 14px 2px #c36bd2;
  box-shadow: 0px 4px 14px 2px #c36bd2;
}

.btn-main-style:focus, .btn-main-style:hover {
  outline: none;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0px 4px 14px 2px rgba(195, 107, 210, 0);
  -moz-box-shadow: 0px 4px 14px 2px rgba(195, 107, 210, 0);
  -o-box-shadow: 0px 4px 14px 2px rgba(195, 107, 210, 0);
  box-shadow: 0px 4px 14px 2px rgba(195, 107, 210, 0);
}

.infin {
  font-size: 35px;
  font-weight: 300;
  line-height: 0px;
  color: #902ec5;
  position: relative;
}

.eternity-block {
  margin-bottom: 10px;
}

.task-history-block {
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-history-block .history-day-block {
  float: left;
  border: 2px solid #008e82;
  border-radius: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.progress-full {
  width: 100%;
  background-color: #25a59a;
  color: white;
}

.progress-good {
  width: 80%;
  background-color: #25a59a;
}

.progress-middle {
  width: 50%;
  background-color: #ffde3c;
}

.progress-low {
  width: 25%;
  background-color: #ff4e16;
}

.progress-empty {
  width: 3%;
  background-color: #ff1717;
}

.history-progress span {
  margin-left: 10px;
  margin-right: 10px;
}

.eternity-check {
  float: left;
}

.weekday-settings-block {
  display: inline-block;
}

.weekday-settings-manage {
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 3px;
}

.weekday-settings-manage span {
  border: 2px solid #a614d0;
  border-radius: 2px;
  padding: 0px 7px;
  cursor: pointer;
  margin-right: 7px;
}

.weekday-settings-items {
  padding-left: 40px;
}

.weekday-settings-items .day-item {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  border: 2px solid #9612c8;
  width: 50px;
  height: 50px;
  line-height: 46px;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  transition: all 400ms ease-in-out;
}

.weekday-settings-items .opted {
  background: linear-gradient(-90deg, #4a1b9e, #ce3ee6);
  background-size: 200% 200%;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  -o-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
  -webkit-box-shadow: 0px 4px 14px 2px #c36bd2;
  -moz-box-shadow: 0px 4px 14px 2px #c36bd2;
  -o-box-shadow: 0px 4px 14px 2px #c36bd2;
  box-shadow: 0px 4px 14px 2px #c36bd2;
  color: #ffffff;
}

.none {
  display: none;
}
