@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-ms-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: #f1f1f1;
}

p {
  margin: 0px;
}

.application {
  max-width: 1200px;
  margin: 0 auto;
}

.addNewTask-form {
  width: 400px;
  display: inline-block;
}

.addNewTask-form textarea {
  width: 320px;
  height: 80px;
}

.none {
  display: none;
}

.task-block {
  background: white;
  border-radius: 2px;
  width: 600px;
  display: inline-block;
  padding: 12px 22px;
  overflow: hidden;
}

.task-status-block {
  float: left;
}

.removeTask {
  float: right;
  margin-top: -25px;
  font-size: 20px;
  color: red;
  font-family: sans-serif;
  cursor: pointer;
}

#progressBlock {
  background: #ecebeb;
  height: 5px;
}

#progressBlock .progress-part {
  display: inline-block;
  height: 5px;
  background: #d6d6d6;
  width: 0%;
}

#progressBlock .successProgress {
  background-color: #7ee04b;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  position: relative;
  top: -11px;
}

.btn-main-style {
  border: 0px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 12px 42px;
  color: white;
  background: linear-gradient(-90deg, #4a1b9e, #ce3ee6);
  background-size: 200% 200%;
  cursor: pointer;
  transition: all 400ms ease-in-out;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  -o-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
  -webkit-box-shadow: 0px 4px 14px 2px #c36bd2;
  -moz-box-shadow: 0px 4px 14px 2px #c36bd2;
  -o-box-shadow: 0px 4px 14px 2px #c36bd2;
  box-shadow: 0px 4px 14px 2px #c36bd2;
}

.btn-main-style:focus, .btn-main-style:hover {
  outline: none;
  transition: all 400ms ease-in-out;
  -webkit-box-shadow: 0px 4px 14px 2px rgba(195, 107, 210, 0);
  -moz-box-shadow: 0px 4px 14px 2px rgba(195, 107, 210, 0);
  -o-box-shadow: 0px 4px 14px 2px rgba(195, 107, 210, 0);
  box-shadow: 0px 4px 14px 2px rgba(195, 107, 210, 0);
}
