@font-face {
  font-family: 'Encode Sans Condensed';
  src: url('../../fonts/EncodeSansCondensed-Light.woff2') format('woff2'),
      url('../../fonts/EncodeSansCondensed-Light.woff2') format('ttf'),
      url('../../fonts/EncodeSansCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Encode Sans Condensed';
  src: url('../../fonts/EncodeSansCondensed-Regular.woff2') format('woff2'),
      url('../../fonts/EncodeSansCondensed-Regular.woff2') format('ttf'),
      url('../../fonts/EncodeSansCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
